<div class="user-status-message" aria-describedby="tooltip">
  {{emoji @status.emoji skipTitle=true}}
  <DTooltip>
    {{emoji @status.emoji skipTitle=true}}
    {{@status.description}}
    {{#if this.until}}
      <span class="status-until">{{this.until}}</span>
    {{/if}}
  </DTooltip>
</div>
