<div
 class="user-status-message"
 aria-describedby="tooltip">
  {{emoji @status.emoji}}
</div>
<DTooltip>
  {{emoji @status.emoji}}
  {{@status.description}}
  {{#if this.until}}
    <span class="status-until">{{this.until}}</span>
  {{/if}}
</DTooltip>
