<div class="user-status-message-tooltip is-expanded">
  <div class="user-status-message-tooltip-container">
    {{emoji @status.emoji}}
    {{@status.description}}
    <span>Until: {{@status.ends_at}}</span>
  </div>
</div>
