.d-tooltip {
  padding: 0.3em;
  z-index: z("usercard") - 2;
  position: relative;

  &.is-expanded {
    visibility: visible;
    animation: 0.33s fadeIn;
    animation-fill-mode: forwards;
    display: flex;
  }

  .d-tooltip-content {
    margin: 0.5em;
    box-shadow: shadow("card");
    background-color: var(--secondary);
    border: 1px solid var(--primary-low);
    border-radius: 4px;
  }
}
