.user-status-message-tooltip {
  visibility: hidden;
  display: none;
  padding: 15px 0;
  z-index: z("usercard") - 2;
  position: relative;

  &.is-expanded {
    animation: 0.33s fadeIn;
    animation-fill-mode: forwards;
    display: flex;
    visibility: visible;
  }

  .user-status-message-tooltip-container {
    margin: 0.25em;
    box-shadow: shadow("card");
    background-color: var(--secondary);
    z-index: 1;
    border-radius: 8px;
    display: grid;
    grid-gap: 0.25em;
  }
}
